h1{
  font-size: 70px;
  position: bottom;
  color: white;
}
h3{
  font-size: 20px;
  color: white;
}
ul{
  border-radius: 25px;
  padding: 10px;
  height: 20px;
  background-color: rgba(128, 128, 128, 1);
  margin: 0px 0px 0px 0px;
}
/* this is for the header on all pages*/
.headerinfo {
  display: inline;
  padding: 0px 10px 0px 10px;
}
a{
  color: black;
}
header {
  border-radius: 25px;
  background-image: url("cateye2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  height: 220px;
  text-align: center;
  color: white;
  font-family: helvetica;
}
a.homeNav:link{
  text-decoration: none;
}
a.homeNav:visited{
  text-decoration: none;
}
footer {
  background-color: pink;
  padding: 25px;
  height: 30px;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 10px;
  border-radius: 25px;
}
/* this is on the indexpage */
.catdes{

}
/* this is the contact page */
.contactus{
  font-family: helvetica;
  text-align: center;
}
input[type=text]{
  width: 50%;
  height: 40px;
  padding: 5px;
  margin-bottom: 25px;
  margin-top: 5px;
  border: 2px solid #ccc;
  font-size: 12px;
  border-radius: 5px;
}
textarea{
  padding: 5px;
  margin-bottom: 25px;
  margin-top: 5px;
  border: 2px solid #ccc;
  font-size: 12px;
  border-radius: 5px;
}
.submitbut{
  margin: 0 0 10px 0;
  background: rgba(0, 153, 76);
  border-radius: 5px;
  font-size: 16px;
}
.submitbut:hover{
  opacity: 0.5;
}
